/* FaqSection.css */

.faq_section {
    padding: 40px 0;
  }
  
  .faq_container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .faq_list {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .faq_item {
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* .faq_item:hover {
    background-color: #f5f5f5;
  }
   */
 
   .faq_container h2 {
    display: flex;
    align-items: center;
    padding: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #ffffff;
   }


  .faq_question {
    display: flex;
    align-items: center;
    padding: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #ffffff;

  }
  
  .faq_icon {
    margin-right: 10px;
    font-size: 1.5rem;
    color: #007bff;
  }
  
  .faq_answer {
    padding: 16px;
    font-size: 16px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    opacity: 0.7;
  }
  
  .view_more_link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;

  }
  
  .view_more_link:hover {
    text-decoration: underline;
  }
  