.footer_root {
  min-height: 70vh;
  background-image: url("../../../assets/images/14649137_SL_0210121_40570_75.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  overflow-x: hidden;
}

.footer_container {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  text-align: flex-start;
}

.footer_logo img {
  width: 100px;
  cursor: pointer;
}

.snap-outro {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  padding-right: 10px;
}
.outro_container p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
}
.footer-column h4 {
  padding-left: 30px;
  font-size: 2rem;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  margin-bottom: 30px;
}
.footer_section ul li {
  display: block;
  line-height: 3;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.footer_section ul a {
  text-decoration: none;
  color: white !important;
}

.foot-social-icon-text li {
  display: flex;
  color: white !important;
}
.foot-social-icon-text p {
  margin-left: 10px;
}

.foot-social-icon-text a {
  text-decoration: none;
  color: white;
}

.footer_divider {
  color: white;
  padding-top: 20px;
}

.lower_footer_text p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 20px;
}

.address_container p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  opacity: 0.7;
}

@media only screen and (max-width: 768px) {
  .footer_container {
    display: block;
  }

  .footer_section ul li {
    display: block;
    line-height: 3;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
  }

  .lower_footer_text p {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    padding: 20px 0px 0px 20px;
  }
}
